.table, tr, td, th{
    border: 2px solid rgb(167, 167, 167);
    text-align: center;
}

.tabela{
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 17px;
}

table{
    width: 1311px;
}

.cabeca{
    height: 53px;
    border-radius: 20px;

}

.aside{
    height: 419px;
    border-radius: 20px;
}

.article{
    border-radius: 20px;
}

.nav{
    border-radius: 20px;
}